*{
    font-family: Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
}

.ctnBack {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.childs {
    height: 50px;
    box-sizing: border-box;
    width: 100vw;
    background-color: blue;
}
#child1{
    background-color: white;
    border-bottom: 3px solid orange;
}#child2{
    background-color: white;
}#child3{
    background-color: #f2f2f2;
}

.boiteMenu{
    width: 100%;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 992px){
    .boiteMenu{
        width: 100%;
    }
}

.ctnMenu {
    z-index: 1;
    height: 150px;
    width: 1242px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
}
.ctnMenu a{
    text-decoration: none;
    font-weight: 600;
}
.menu1, .menu2{
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
} 
.menu1 li, .menu2 li {
    width: auto;
    text-align: center;
    list-style-type: none;
}
.menu1 {
    width: 740px;
    font-size: 15px;
}.menu1 li a{ 
    color: black;
}
.menu2 {
    width: 600px;
    padding-left: 140px;
    font-size: 13px;   
}.menu2 li a{
    color: #666; 
}

.search, .follow {
    height: 50px;
    width: 150px;
    border: 1px solid green;
}
.search{
    background-color: red;
}
.follow{
    background-color: indigo;
}
span{
    color:orange;
}
#logo{
    height:105px;
    width: 105px;
}
/* barreMenu est celle visible en mobile */
#barreMenu{
    display: none;
    width: 100vw;
    height: 70px;
    border-top: 3px solid orange;
    margin-top: 20px;
}
#btnBurger{
    background-color: white;
    border: none;
}
#logoMobile{
    margin-top: 5px;
}
.centerIcon{
    margin-top: 18px;
}

#menuBurger{
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
}
.caseBurger{
    height: 52px;
    color: white;
    font-weight: bold;
    padding-top: 15px;
    font-size: 15px;
    border-bottom: 1px solid #666;
    box-sizing: border-box;
    background-color: #303030 ;
}
.limite{
    border-top: 2px solid #666;
}
#mailBurger{
    background-color: #666;
}

@media screen and (max-width: 810px){
    .ctnMenu{
        display: none;
    }
    .ctnBack{
        display: none;
    }
    #barreMenu{
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width: 890px){
    .search{
        width: 50px;
    }
}