* {
    font-family: Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

.ctnBack {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.childs {
    height: 50px;
    box-sizing: border-box;
    width: 100vw;
    background-color: blue;
}

#child1 {
    background-color: white;
    border-bottom: 3px solid orange;
}

#child2 {
    background-color: white;
}

#child3 {
    background-color: #f2f2f2;
}

.boiteMenu {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 992px) {
    .boiteMenu {
        width: 100%;
    }
}

.ctnMenu {
    z-index: 1;
    height: 150px;
    width: 1242px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
}

.ctnMenu a {
    text-decoration: none;
    font-weight: 600;
}

.menu1,
.menu2 {
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
}

.menu1 a:hover,
.menu2 a:hover {
    color: orange;
}

.menu1 li,
.menu2 li {
    width: auto;
    text-align: center;
    list-style-type: none;
}

.menu1 {
    width: 740px;
    font-size: 15px;
}

.menu1 li a {
    color: black;
}

.menu2 {
    width: 600px;
    padding-left: 140px;
    font-size: 13px;
}

.menu2 li a {
    color: #666;
}

.carorange {
    height: 10px;
    margin-right: 5px;
    margin-bottom: 2px;
}

.search,
.follow {
    height: 50px;
}

.search {
    width: 150px;
    margin-left: auto;
    padding-left: 5px;
}

.search ul {
    padding-top: 12px;
    padding-left: 0;
}

.search li {
    list-style-type: none;
    display: inline-block;
}

.search span {
    font-size: 10px;
    color: white;
    background-color: #666;
    padding: 0 5px 0 5px;
}

.mailSearch img {
    height: 25px;
    margin-right: 5px;
}

.loupeSearch img {
    height: 25px;
}

.follow {
    padding: 12px 5px 0 0;
    text-align: right;
    width: 180px;
    margin-left: auto;
}

.follow ul {
    padding: 0;
}

.follow li {
    list-style-type: none;
    display: inline;
    font-size: 13px;
}

.fbb {
    height: 25px;
}

.twitb {
    height: 15px;
}

.instab {
    height: 20px;
}

.goopb {
    height: 20px;
}

span {
    color: orange;
}

#logo {
    height: 105px;
    width: 105px;
}

/* barreMenu est celle visible en mobile */

#blockCloseBurger {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#barreMenu {
    z-index: 10;
    position: fixed;
    display: none;
    width: 100vw;
    height: 70px;
    border-top: 3px solid orange;
    background-color: white;
    margin-top: 20px;
}

#btnBurger {
    background-color: white;
    border: none;
}

#logoMobile {
    margin-top: 5px;
}

.centerIcon {
    margin-top: 18px;
}

#menuBurger {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    overflow: scroll;
}

#menuBurger a {
    text-decoration: none;
    color: white;
}

.fb {
    margin-top: -10px;
    margin-left: -10px;
}

.twit {
    margin-top: -10px;
    margin-left: -5px;
    margin-right: 10px;
}

.insta {
    margin-top: -10px;
    margin-left: -2px;
    margin-right: 13px;
}

.goop {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: 5px;
}

.caseBurger {
    height: 52px;
    color: white;
    font-weight: bold;
    padding-top: 15px;
    font-size: 15px;
    border-bottom: 1px solid #666;
    box-sizing: border-box;
    background-color: #303030;
}

.limite {
    border-top: 2px solid #666;
}

#mailBurger {
    background-color: #666;
}

#barWhite {
    height: 20px;
    width: 100%;
    background-color: white;
    display: none;
    position: fixed;
    z-index: 9;
}

@media screen and (max-width: 810px) {
    .ctnMenu {
        display: none;
    }
    .ctnBack {
        display: none;
    }
    #barreMenu {
        display: flex;
        justify-content: space-between;
    }
    #barWhite {
        display: block;
    }
    .banner {
        margin-top: 100px;
    }
}

@media screen and (max-width: 905px) {
    .search {
        width: 50px;
    }
    .mailSearch a {
        display: none;
    }
}

/* fin menu burger */

/* menu Scroll */

#menuScroll {
    z-index: 1;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid silver;
    border-top: 3px solid orange;
    display: flex;
    justify-content: space-around;
    padding: 0 10% 0 10%;
    font-weight: bold;
}

#logofr {
    height: 40px;
    width: 50px;
}

@media screen and (max-width: 915px) {
    #scrollFollow {
        display: none;
    }
}

@media screen and (max-width: 1130px) {
    #menuScroll {
        padding: 0 10px 0 10px;
    }
}

#repairY {
    height: 1px;
    width: 100%;
}

/* fin menu Scroll */

/* section Banner*/

.banner {
    width: auto;
    display: flex;
}

.bannerHaut {
    background-image: url("img/ColdestBeer.jpg");
    height: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bannerBas {
    background-color: rgba(48, 48, 48, 0.9);
    margin-top: -40px;
    padding-top: 10px;
    margin-bottom: 50px;
    border-top: 2px solid rgba(48, 48, 48, 0.9);
}

.bannerBas:hover {
    box-sizing: border-box;
    border-top: 2px solid orange;
}

.bannerBas:hover .ban2 a {
    color: #d9d9d9;
}

.ban1 a {
    text-decoration: none;
    color: #d9d9d9;
    text-transform: uppercase;
    font-size: 13px
}

.ban2 a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 24px
}

.ban3 a,
.ban3 {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.ban1,
.ban2,
.ban3 {
    margin: 0;
}

.popArt1 {
    background-image: url("img/bananaCake.jpg");
}
.popArt2 {
    background-image: url("img/tortillas.jpg");
}

@media screen and (min-width: 800px) and (max-width: 1040px) {
    .banner {
        padding-left: 8vw;
        padding-right: 8vw;
    }
}

/* section latest ci-dessous */

.latestCtn {
    margin-top: 100px;
}

.latestLigne {
    background-image: url("img/ligneLatest.svg");
    background-repeat: repeat;
    height: 25px;
    display: flex;
    justify-content: center;
}

.latestLigne p {
    height: 25px;
    width: 100px;
    font-size: 1em;
    font-weight: bold;
    background-color: white;
    text-align: center;
}

/* fin de ligne du titre */

/* DEBUT LATEST */

.latest {
    padding: 0 0 0 0;
    margin: 40px 10px 20px 10px;
    height: 100vw;
}

.latestImg {
    position: relative;
    height: 80%;
    border: 1px solid silver;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
}

.img1 {
    background-image: url("img/drake.jpg");
    background-size: contain;
}

.img2 {
    background-image: url("img/pump.jpg");
    background-size: cover;
}

.img3 {
    background-image: url("img/zagat.jpg");
    background-size: cover;
}

.latestText {
    height: 20%;
}

.latestText a {
    text-decoration: none;
    color: black;
}

.latestTextTitle {
    padding-top: 20px;
    font-size: 2vw;
    font-weight: bold;
    color: silver;
    margin: 0;
}

.latestTextPara {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 0;
}

.latestTextInfo {
    font-size: 2vw;
    margin: 0;
}

.latestTextInfo span {
    color: silver;
}

.share {
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-image: url("img/share.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: silver;
}

.share:hover {
    background-color: orange;
}

@media (min-width: 767px) {
    .img1 {
        height: 65%;
    }
    .case1 {
        height: 35%;
    }
    .img2 {
        height: 50%;
    }
    .case2 {
        height: 50%;
    }
    .img3 {
        height: 65%;
    }
    .case3 {
        height: 35%;
    }
    .latestArticle1 {
        height: 32vw;
    }
    .latestArticle2 {
        height: 22vw;
    }
    .latestArticle3 {
        height: 27vw;
    }
    .latestTextTitle {
        font-size: 0.8vw;
    }
    .latestTextPara {
        font-size: 1.5vw;
    }
    .latestTextInfo {
        font-size: 0.8vw;
    }
}

/* case fixe en bas de l'écran */

#caseFixe {
    position: fixed;
    bottom: 0;
    left: 44%;
    height: 34px;
    width: 134px;
    padding-top: 5px;
    border-top: 2px solid orange;
    background-color: white;
    text-align: center;
    font-weight: bold;
    color: orange;
}

@media screen and (max-width: 810px) {
    #caseFixe {
        position: fixed;
        left: 35%;
    }
}

/* FIN de LATEST */

#blockCloseNav {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#socialNav {
    z-index: 10;
    position: fixed;
    top: 40%;
    left: 40%;
    height: 80px;
    width: 250px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.5px 1px black inset;
    display: none;
}

.socialLink {
    height: 40px;
    width: 40px;
    margin: 5px;
    background-position: center;
    background-size: cover;
    background-color: gray;
}

.socialLink:hover {
    background-color: orange;
}

.socialLinkFb {
    height: 40px;
    width: 40px;
    background-image: url("img/fb-white.png");
}

.socialLinkTw {
    height: 40px;
    width: 40px;
    background-image: url("img/twitter-white.png");
}

.socialLinkG {
    height: 40px;
    width: 40px;
    background-image: url("img/googleplus-white.png");
    background-position: center;
    background-size: cover;
    background-color: gray;
}

.socialLinkIt {
    height: 40px;
    width: 40px;
    background-image: url("img/instagram-white.png");
}

/* fin du menu social */

/* recommanded */

.dropbtn {
    background-color: rgba(0, 0, 0, 0);
    color: #666;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    border: none;
    height: 50px;
    font-weight: bold;
}

.dropArrow {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-left: 5px;
    background-image: url("img/flecheDown.png");
    background-position: center;
    background-size: cover;
}

.dropTitle {
    width: 120px;
    height: 30px;
    position: absolute;
    left: 10;
    z-index: 10;
}

.dropTitle h5 {
    font-size: 14px;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border-top: 3px solid orange;
    width: 720px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    flex-direction: row;
    margin-left: -400px;
}

.dropdown-content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: 30px;
}

.dropdown-content li {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid silver;
    width: 340px;
    display: flex;
    margin: 5px;
}

.dropdown-content a {
    display: block;
    height: 70px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropbtn:hover {
    border-bottom: 2px solid orange;
}

.dropbtn:hover .dropArrow {
    background-image: url("img/flecheUp.png");
}

/*fin de Recommanded*/