*{
    font-family: Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
}

.ctnBack {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.childs {
    height: 50px;
    box-sizing: border-box;
    width: 100vw;
    background-color: blue;
}
#child1{
    background-color: white;
    border-bottom: 3px solid orange;
}#child2{
    background-color: white;
}#child3{
    background-color: #f2f2f2;
}

.boiteMenu{
    width: 100%;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 992px){
    .boiteMenu{
        width: 100%;
    }
}

.ctnMenu {
    z-index: 1;
    height: 150px;
    width: 1242px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
}
.ctnMenu a{
    text-decoration: none;
    font-weight: 600;
}
.menu1, .menu2{
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
} 
.menu1 a:hover, .menu2 a:hover {
    color: orange;
}
.menu1 li, .menu2 li {
    width: auto;
    text-align: center;
    list-style-type: none;
}
.menu1 {
    width: 740px;
    font-size: 15px;
}.menu1 li a{ 
    color: black;
}
.menu2 {
    width: 600px;
    padding-left: 140px;
    font-size: 13px;   
}.menu2 li a{
    color: #666; 
}
.carorange {
    height: 10px;
    margin-right: 5px;
    margin-bottom: 2px;
}
.search, .follow {
    height: 50px;
}
.search{
    width: 150px;
    margin-left: auto;
    padding-left: 5px;
}
.search ul{
    padding-top: 12px;
    padding-left: 0;
}
.search li{
    list-style-type: none;
    display: inline-block;
}
.search span{
    font-size: 10px;
    color: white;
    background-color: #666;
    padding : 0 5px 0 5px;
}
.mailSearch img{
    height: 25px;
    margin-right: 5px;
}
.loupeSearch img{
    height: 25px;
}
.follow {
    padding: 12px 5px 0 0;
    text-align: right;
    width: 180px;
    margin-left: auto;
}
.follow ul {
    padding : 0;
}
.follow li {
    list-style-type: none;
    display : inline;
    font-size: 13px;
}
.fbb {
    height: 25px;
}
.twitb {
    height: 15px;
}
.instab {
    height: 20px;
}
.goopb {
    height: 20px;
}
span{
    color:orange;
}
#logo{
    height:105px;
    width: 105px;
}
/* barreMenu est celle visible en mobile */
#barreMenu{
    display: none;
    width: 100vw;
    height: 70px;
    border-top: 3px solid orange;
    margin-top: 20px;
}
#btnBurger{
    background-color: white;
    border: none;
}
#logoMobile{
    margin-top: 5px;
}
.centerIcon{
    margin-top: 18px;
}

#menuBurger{
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
}
#menuBurger a{
    text-decoration: none;
    color: white;
}
.fb{
    margin-top: -10px;
    margin-left: -10px;
}
.twit{
    margin-top: -10px;
    margin-left: -5px;
    margin-right: 10px;
}
.insta{
    margin-top: -10px;
    margin-left: -2px;
    margin-right: 13px;
}
.goop{
    margin-top: -10px;
    margin-left: -10px;
    margin-right: 5px;
}
.caseBurger{
    height: 52px;
    color: white;
    font-weight: bold;
    padding-top: 15px;
    font-size: 15px;
    border-bottom: 1px solid #666;
    box-sizing: border-box;
    background-color: #303030 ;
}
.limite{
    border-top: 2px solid #666;
}
#mailBurger{
    background-color: #666;
}

@media screen and (max-width: 810px){
    .ctnMenu{
        display: none;
    }
    .ctnBack{
        display: none;
    }
    #barreMenu{
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width: 890px){
    .search{
        width: 50px;
    }
    .mailSearch{
        display: none;
    }
}

.banner{
    width: auto;
    display: flex;
}
.bannerHaut{
    background-image: url("img/ColdestBeer.jpg");
    height: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bannerBas{
    background-color: rgba(48,48,48,0.9);
    margin-top: -40px;
    padding-top: 10px;
}
.bannerBas:hover{
    box-sizing: border-box;
    border-top: 2px solid orange;
}
.bannerBas:hover .ban2 a{
    color: #d9d9d9;
}
.ban1 a{
    text-decoration: none;
    color: #d9d9d9;
    text-transform: uppercase;
    font-size: 13px
}
.ban2 a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 24px
}
.ban3 a, .ban3{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.ban1, .ban2, .ban3{
    margin: 0;
}

@media screen and (min-width: 800px) and (max-width: 1040px){
    .banner{
        padding-left: 8vw;
        padding-right: 8vw;
    }
}